<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>mor.form.servlets.Inscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>mor.form.servlets.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>mor.form.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Produit</servlet-name>
    <servlet-class>mor.form.servlets.Produit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>mor.form.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimeP</servlet-name>
    <servlet-class>mor.form.servlets.SupprimeP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Categorie</servlet-name>
  	<servlet-class>mor.form.servlets.Categorie</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Categorie</servlet-name>
  	<url-pattern>/ajouterCategorie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimeP</servlet-name>
    <url-pattern>/supprime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Produit</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Utilisateur</servlet-name>
    <servlet-class>mor.form.servlets.Utilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateur</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterProduit</servlet-name>
    <servlet-class>mor.form.servlets.AjouterProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProduit</servlet-name>
    <url-pattern>/ajouterProduit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>Restriction</filter-name>
    <filter-class>mor.form.filter.Restriction</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Restriction</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>